/* src/styles.css */

.event {
    background: #2c1247;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .event h3 {
    color: #fff;
  }
  
  .dashboard button {
    background-color: #7336ad;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dashboard button:hover {
    background-color: #5a278a;
  }
  
  input {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .dashboard {
    text-align: center;
    color: #fff;
  }
  
  h2 {
    color: #fff;
  }